/* Innehåll */
.content {
    flex-grow: 1;
    max-width: 90%;
    min-width: 500px;
    margin: 20px;
    padding: 20px;
    background-color: #f9f9f9;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    display: block;
    overflow-y: auto;
    margin-left: 200px;
}

/* Rubrik */
.content h1 {
    text-align: center;
    color: #333;
    margin-bottom: 20px;
}
