body {
    font-family: Arial, sans-serif;
    padding: 20px;
    text-align: center;
  }
  .header {
    text-align: center;
    margin-bottom: 20px;
  }
  .header-info {
    display: flex; /* Använd flexbox för att placera element horisontellt */
    align-items: center; /* Justera vertikalt innehåll så att de ligger på samma linje */
    gap: 20px; /* Mellanrum mellan logotypen och innehållet */
    margin-bottom: 20px;
  }
  .header-logo {
    max-width: 150px; /* Justera storlek på loggan */
    margin-bottom: 10px;
  }
  .header-title {
    display: grid;
    grid-template-columns:  repeat(1, 1fr);
    gap: 10px; /* Mellanrum mellan rader och kolumner */
    justify-content: start; /* Centrerar innehållet horisontellt */
    max-width: 600px; /* Sätter maxbredd för att hålla layouten kompakt */
    margin: 0 auto; /* Centrerar layouten på sidan */
  }
  .header-title h1{
    margin-top: -20px;
  }
  .header-title h5{
    margin-top: -20px;
  }
  table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 20px;
  }
  td {
    padding: 8px;
    vertical-align: top;
  }
  .label {
    font-weight: bold;
  }
  .spacer {
    width: 50px; /* Justerar mellanrummet mellan kolumner */
  }


  .signature-section-horizontal {
    display: flex;
    justify-content: space-between; /* Fördela utrymme jämnt mellan linjerna */
    align-items: center;
    margin-top: 60px; /* Avstånd från footern */
    margin-bottom: 60px;
    padding: 0 10%; /* Lämnar lite utrymme från sidorna */
  }
  
  .signature-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    width: 45%; /* Fördelar lika mycket utrymme åt varje signaturrad */
  }
  
  .signature-item .line {
    border-bottom: 1px solid #000;
    width: 100%; /* Gör linjen lika bred som behållaren */
    margin-bottom: 5px; /* Mellanrum mellan linje och etikett */
  }
  
  .signature-item span {
    font-size: 1em;
    font-weight: bold;
    margin-top: 5px;
  }

  @media print {
    /* Dölj standardhuvudet som skrivs ut */
    @page {
        margin-left: 1cm;
        margin-right: 1cm;
        margin-top: 0.8cm;
        margin-bottom: 0.8cm;
    }
  
  
  
  
    /* Dölj titel och datum från utskrift */
    header, footer {
      display: none;
    }
  }