body {
    font-family: Arial, sans-serif;
    padding: 20px;
    text-align: center;
  }
  .header {
    text-align: center;
    margin-bottom: 20px;
  }
  .header-info {
    display: flex; /* Använd flexbox för att placera element horisontellt */
    align-items: center; /* Justera vertikalt innehåll så att de ligger på samma linje */
    gap: 20px; /* Mellanrum mellan logotypen och innehållet */
    margin-bottom: 20px;
  }
  .header-logo {
    max-width: 150px; /* Justera storlek på loggan */
    margin-bottom: 10px;
  }
  .header-title {
    display: grid;
    grid-template-columns:  repeat(1, 1fr);
    gap: 10px; /* Mellanrum mellan rader och kolumner */
    justify-content: start; /* Centrerar innehållet horisontellt */
    max-width: 600px; /* Sätter maxbredd för att hålla layouten kompakt */
    margin: 0 auto; /* Centrerar layouten på sidan */
  }
  .header-title h1{
    margin-top: -20px;
  }
  .header-title h5{
    margin-top: -20px;
    font-size: larger;
  }
  table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 20px;
  }
  td {
    padding: 8px;
    vertical-align: top;
  }
  .label {
    font-weight: bold;
  }
  .spacer {
    width: 50px; /* Justerar mellanrummet mellan kolumner */
  }
  .master-protest{
    text-align: start;
  }
  .delay-protest{
    text-align: start;
    margin-top: 25px;
  }
  .shore-stops-table td:nth-child(1),
  .shore-stops-table td:nth-child(2) {
    font-weight: bold;
  }
.shore-stops-table th{
  font-weight: normal;
}

  .grade-potest{
    text-align: start;
  }
  .grade-potest strong{
    margin-right: 20px;
  }
  .grade-potest em{
    margin-right: 50px;
  }
  .grade-potest p{
font-size: smaller;  }
  .long-text-desc {
    text-align: start;
  }
  .long-text-desc p{
    font-size: smaller;
  }

  .loading-rates {
    width: 75%; /* Säkerställ att tabellen tar upp hela containerbredden */
    border-collapse: collapse; /* Ta bort mellanrum mellan celler */
    margin: 0 auto; /* Centrerar elementet horisontellt */

  }
  
  .loading-rates td {
    width: 33%; /* Anpassa bredden för jämn fördelning */
    padding: 5px; /* Lägg till lite avstånd inuti celler */
  }
  
  .discharging-label {
    width: 100%; /* Justera bredden för att texten ska synas korrekt */
    text-align: left;
    font-size: 0.9rem; /* Ändra till mindre textstorlek */
  }

  .label-input {
    font-weight: bold;
    text-align: center;
    width: 20%;
  }
  

  .signature-section-horizontal {
    display: flex;
    justify-content: space-between; /* Fördela utrymme jämnt mellan linjerna */
    align-items: center;
    margin-top: 40px; /* Avstånd från footern */
    margin-bottom: 50px;
    padding: 0 10%; /* Lämnar lite utrymme från sidorna */
  }
  
  .signature-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    width: 45%; /* Fördelar lika mycket utrymme åt varje signaturrad */
  }
  
  .signature-item .line {
    border-bottom: 1px solid #000;
    width: 100%; /* Gör linjen lika bred som behållaren */
    margin-bottom: 5px; /* Mellanrum mellan linje och etikett */
  }
  
  .signature-item span {
    font-size: 1em;
    font-weight: bold;
    margin-top: 5px;
  }
  .signature-please {
    display: flex;
    align-items: center;
    text-align: start;
    margin-top: 15px;
    width: 80%; /* Fördelar lika mycket utrymme åt varje signaturrad */
  }
  .signature-please span {
    font-size: 1em;
    font-style: italic;
  }

  .signature-regard {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin-top: -20px;
    width: 45%; /* Fördelar lika mycket utrymme åt varje signaturrad */
  }
  
  
  .signature-regard span {
    font-size: 1em;
    font-style: italic;
    margin-top: 5px;
  }

  @media print {
    /* Dölj standardhuvudet som skrivs ut */
    @page {
        margin-left: 1cm;
        margin-right: 1cm;
        margin-top: 0.8cm;
        margin-bottom: 0.8cm;
    }
  
  
  
  
    /* Dölj titel och datum från utskrift */
    header, footer {
      display: none;
    }
  }