 /* Grundläggande utskriftsstil */
 @page {
    size: A4;
    margin: 20mm;
  }

  body {
    margin: 0;
    padding: 0;
    line-height: 1.5;
  }

  .container {
    max-width: 100%;
    padding: 10px;
  }

  .header {
    text-align: center;
    margin-bottom: 20px;
  }
  .header-info {
    display: flex; /* Använd flexbox för att placera element horisontellt */
    align-items: center; /* Justera vertikalt innehåll så att de ligger på samma linje */
    gap: 20px; /* Mellanrum mellan logotypen och innehållet */
    margin-bottom: 20px;
  }
  .header-logo {
    max-width: 150px; /* Justera storlek på loggan */
    margin-bottom: 10px;
  }
  .header-title {
    display: grid;
    grid-template-columns:  repeat(1, 1fr);
    gap: 10px; /* Mellanrum mellan rader och kolumner */
    justify-content: start; /* Centrerar innehållet horisontellt */
    max-width: 600px; /* Sätter maxbredd för att hålla layouten kompakt */
    margin: 0 auto; /* Centrerar layouten på sidan */
  }
  .header-title h1{
    margin-top: -20px;
  }
  .header-content1 {
    display: grid;
    grid-template-columns:  repeat(2, 1fr);
    gap: 10px; /* Mellanrum mellan rader och kolumner */
    justify-content: start; /* Centrerar innehållet horisontellt */
    max-width: 600px; /* Sätter maxbredd för att hålla layouten kompakt */
    margin: 0 auto; /* Centrerar layouten på sidan */
  }
  .header-content2 {
    display: grid;
    grid-template-columns:  repeat(3, 1fr);/* Två kolumner med jämn bredd */
    gap: 10px; /* Mellanrum mellan rader och kolumner */
    justify-content: left; /* Centrerar innehållet horisontellt */
    max-width: 600px; /* Sätter maxbredd för att hålla layouten kompakt */
    margin: 0 auto; /* Centrerar layouten på sidan */
    margin-top: 10px;

  }
  .header-content3 {
    display: grid;
    grid-template-columns:  repeat(2, 1fr);/* Två kolumner med jämn bredd */
    gap: 10px; /* Mellanrum mellan rader och kolumner */
    justify-content: left; /* Centrerar innehållet horisontellt */
    max-width: 600px; /* Sätter maxbredd för att hålla layouten kompakt */
    margin: 0 auto; /* Centrerar layouten på sidan */
    margin-top: 10px;

  }
  
  .header-content div {
    font-size: 1.1em;
  }
  

  .table-container {
    margin-top: 20px;
    border-collapse: collapse;
    width: 100%;
  }

  table {
    width: 100%;
    border: 1px solid #ccc;
    border-collapse: collapse;
  }

  th, td {
    border: 1px solid #ccc;
    padding: 5px;
    text-align: left;
  }

  th {
    background-color: #f2f2f2;
  }

  .remarks-cell {
    max-width: 250px; /* För att begränsa storleken på "remarks"-kolumnen */
    word-wrap: break-word;
  }

  .footer {
    text-align: center;
    margin-top: 40px;
  }

  .signature-section-horizontal {
    display: flex;
    gap: 2rem;
    margin-top: 80px;
    text-align: center;
    font-weight: bold;
  }
  
  .signature-item {
    flex: 1;
    display: flex;
    flex-direction: column;
  }
  
  
  .line {
    border-top: 1px solid black;
    width: 100%;
  }
    

  @media print {
    /* Dölj standardhuvudet som skrivs ut */
    @page {
        margin-left: 1cm;
        margin-right: 1cm;
        margin-top: 0.8cm;
        margin-bottom: 0.8cm;
    }
  
  
  
  
    /* Dölj titel och datum från utskrift */
    header, footer {
      display: none;
    }
  }